* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body {

    font-family: 'Bungee Shade', cursive;
    background-color: black;
    padding: 40px 0px 0 0px;
    

}

form {
    text-align: center;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
 .heading p {
    color: white;
    font-size: 3rem;
    
    position: relative;
    width: fit-content;
   
}

 .heading img {
    width:40px;
    height:40px;
    position: relative;
    right: -10px;
    
}

@media(max-width:510px){
    .heading p{
        font-size:2em;
    }
}


form input {

    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0.7em 1em;
    font-weight: 600;
    border-radius: 5px;
    margin: 0 auto;
    width: fit-content;

}

form button {
    color: black;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0.7em 1.6em;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    outline: none;
    border: 2px solid palevioletred;
    transition: 0.5s ease all;
    margin: 10px;
    border-radius: 5px;
   


}

form button:hover {

    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.loader {
    animation: rotate 3s linear infinite;
    position: absolute;
    margin: 0 auto;
    display: none;
}

.circle {
    background-color: purple;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1.5s both infinite;

}

.circle:nth-child(2) {
    background-color: rgb(199, 17, 199);
    animation-delay: 0.6s;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1.1)
    }
}

footer{
    width:100%;
    font-size: 1.1em;
    color: white;
    font-family:  sans-serif;
    position: absolute;
    bottom: 4%;
    text-align: center;
    transition: 0.3s ease all;
    
}
footer a{
    text-decoration: none;
}
footer a i{
   color: rgba(255, 255, 255, 0.89);
   background-color: none;
}
footer a i:hover{
    box-shadow: 0px 0px 40px 3px rgba(255,255,255,0.4);

}